In [5]:
import sys
print(sys.executable)

/opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python

In [6]:
!{sys.executable} -m pip install kagglehub

Collecting kagglehub
  Using cached kagglehub-0.3.11-py3-none-any.whl.metadata (32 kB)
Requirement already satisfied: packaging in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from kagglehub) (2.32.3)
Collecting tqdm (from kagglehub)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from requests->kagglehub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/opt/certifi/lib/python3.13/site-packages (from requests->kagglehub) (2024.12.14)
Using cached kagglehub-0.3.11-py3-none-any.whl (63 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, kagglehub
Successfully installed kagglehub-0.3.11 tqdm-4.67.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip

In [8]:
!/opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/bin/python -m pip install --upgrade pip

Requirement already satisfied: pip in /opt/homebrew/lib/python3.13/site-packages (24.3.1)
Collecting pip
  Using cached pip-25.0.1-py3-none-any.whl.metadata (3.7 kB)
Using cached pip-25.0.1-py3-none-any.whl (1.8 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.3.1
    Not uninstalling pip at /opt/homebrew/lib/python3.13/site-packages, outside environment /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec
    Can't uninstall 'pip'. No files were found to uninstall.
Successfully installed pip-25.0.1

In [9]:
import kagglehub

path = kagglehub.dataset_download("ayushtankha/hackathon")

print("Path to dataset files:", path)

/opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/ayushtankha/hackathon?dataset_version_number=1...

100%|██████████████████████████████████████| 37.7M/37.7M [00:04<00:00, 9.46MB/s]

Extracting files...

Path to dataset files: /Users/gama/.cache/kagglehub/datasets/ayushtankha/hackathon/versions/1

In [10]:
import os

files = os.listdir(path)
print("Files in dataset:", files)

Files in dataset: ['weather_data.csv', 'waiting_times.csv', 'parade_night_show.xlsx', 'glossary.xlsx', 'entity_schedule.csv', 'link_attraction_park.csv', 'attendance.csv']

In [18]:
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install openpyxl

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [33]:
# ['weather_data.csv', 'waiting_times.csv', 'parade_night_show.xlsx', 'glossary.xlsx', 'entity_schedule.csv', 'link_attraction_park.csv', 'attendance.csv']
import pandas as pd

df_weather = pd.read_csv(os.path.join(path, "weather_data.csv"))
print(df_weather.head(10))
df_weather.shape

          dt                         dt_iso  timezone        city_name  \
0  915148800  1999-01-01 00:00:00 +0000 UTC      3600  Custom location
1  915152400  1999-01-01 01:00:00 +0000 UTC      3600  Custom location
2  915156000  1999-01-01 02:00:00 +0000 UTC      3600  Custom location
3  915159600  1999-01-01 03:00:00 +0000 UTC      3600  Custom location
4  915163200  1999-01-01 04:00:00 +0000 UTC      3600  Custom location
5  915166800  1999-01-01 05:00:00 +0000 UTC      3600  Custom location
6  915170400  1999-01-01 06:00:00 +0000 UTC      3600  Custom location
7  915174000  1999-01-01 07:00:00 +0000 UTC      3600  Custom location
8  915177600  1999-01-01 08:00:00 +0000 UTC      3600  Custom location
9  915181200  1999-01-01 09:00:00 +0000 UTC      3600  Custom location

         lat       lon  temp  visibility  dew_point  feels_like  ...  \
0  48.873492  2.295104  8.33         NaN       3.39        5.28  ...
1  48.873492  2.295104  8.08         NaN       3.54        5.18  ...
2  48.873492  2.295104  8.08         NaN       4.11        5.38  ...
3  48.873492  2.295104  7.31         NaN       3.73        4.42  ...
4  48.873492  2.295104  6.91         NaN       3.53        4.00  ...
5  48.873492  2.295104  5.45         NaN       2.46        2.35  ...
6  48.873492  2.295104  5.63         NaN       3.14        2.57  ...
7  48.873492  2.295104  5.64         NaN       3.32        2.38  ...
8  48.873492  2.295104  5.99         NaN       3.83        2.69  ...
9  48.873492  2.295104  6.72         NaN       4.21        3.42  ...

   wind_gust  rain_1h  rain_3h  snow_1h  snow_3h  clouds_all  weather_id  \
0        NaN      NaN      NaN      NaN      NaN           8         800
1        NaN      NaN      NaN      NaN      NaN           6         800
2        NaN      NaN      NaN      NaN      NaN          14         801
3        NaN      NaN      NaN      NaN      NaN          39         802
4        NaN      NaN      NaN      NaN      NaN          52         803
5        NaN      NaN      NaN      NaN      NaN          52         803
6        NaN      NaN      NaN      NaN      NaN          57         803
7        NaN      NaN      NaN      NaN      NaN          65         803
8        NaN      NaN      NaN      NaN      NaN          61         803
9        NaN      NaN      NaN      NaN      NaN          83         803

   weather_main  weather_description  weather_icon
0         Clear         sky is clear           01n
1         Clear         sky is clear           01n
2        Clouds           few clouds           02n
3        Clouds     scattered clouds           03n
4        Clouds        broken clouds           04n
5        Clouds        broken clouds           04n
6        Clouds        broken clouds           04n
7        Clouds        broken clouds           04n
8        Clouds        broken clouds           04d
9        Clouds        broken clouds           04d

[10 rows x 28 columns]

(207264, 28)

In [38]:
print(df_weather['dt'].nunique(),df_weather['dt_iso'].nunique(),df_weather['timezone'].nunique(),df_weather['city_name'].nunique())

207264 207264 2 1

In [39]:
print(df_weather['lat'].nunique(),df_weather['lon'].nunique(),df_weather['temp'].nunique(),df_weather['visibility'].nunique())

1 1 4333 0

In [40]:
print(df_weather['dew_point'].nunique(),df_weather['feels_like'].nunique(),df_weather['wind_gust'].nunique(),df_weather['rain_1h'].nunique())

3414 4939 75 469

In [41]:
print(df_weather['rain_1h'].nunique(),df_weather['rain_3h'].nunique(),df_weather['snow_1h'].nunique(),df_weather['snow_3h'].nunique())

469 8 165 0

In [32]:
df_nightshow = pd.read_excel(os.path.join(path, "parade_night_show.xlsx"))
print(df_nightshow.head(10))
df_nightshow.shape

   Unnamed: 0  WORK_DATE NIGHT_SHOW  PARADE_1  PARADE_2
0           0 2018-10-01   20:00:00  17:30:00  12:10:00
1           1 2018-10-02   20:00:00  17:30:00  12:10:00
2           2 2018-10-03   20:00:00  17:30:00  12:10:00
3           3 2018-10-04   20:00:00  17:30:00  12:10:00
4           4 2018-10-05   20:00:00  17:30:00  12:10:00
5           5 2018-10-06   22:00:00  17:30:00  12:10:00
6           6 2018-10-07   21:00:00  17:30:00  12:10:00
7           7 2018-10-08   20:00:00  17:30:00  12:10:00
8           8 2018-10-09   20:00:00  17:30:00  12:10:00
9           9 2018-10-10   20:00:00  17:30:00  12:10:00

(671, 5)

In [31]:
import pandas as pd

df_attraction = pd.read_csv(os.path.join(path, "link_attraction_park.csv"))
print(df_attraction.head(10))
df_attraction.shape

                     ATTRACTION;PARK
0      Aeroplane Ride;Tivoli Gardens
1     Bumper Cars;PortAventura World
2     Bungee Jump;PortAventura World
3    Circus Train;PortAventura World
4           Crazy Bus;Tivoli Gardens
5     Crazy Dance;PortAventura World
6   Dizzy Dropper;PortAventura World
7      Drop Tower;PortAventura World
8  Flying Coaster;PortAventura World
9       Free Fall;PortAventura World

(39, 1)

In [34]:
import pandas as pd

df_attendance = pd.read_csv(os.path.join(path, "attendance.csv"))
print(df_attendance.head(10))
df_attendance.shape

   USAGE_DATE       FACILITY_NAME  attendance
0  2018-06-01  PortAventura World       46804
1  2018-06-01      Tivoli Gardens       20420
2  2018-06-02  PortAventura World       57940
3  2018-06-02      Tivoli Gardens       29110
4  2018-06-03  PortAventura World       44365
5  2018-06-03      Tivoli Gardens       23727
6  2018-06-04  PortAventura World       37617
7  2018-06-04      Tivoli Gardens       15115
8  2018-06-05  PortAventura World       32438
9  2018-06-05      Tivoli Gardens       16373

(2367, 3)

In [37]:
df_attendance['FACILITY_NAME'].nunique()

2

In [36]:
import pandas as pd

df_waittingtimes = pd.read_csv(os.path.join(path, "waiting_times.csv"))
print(df_waittingtimes.head(10))
df_waittingtimes.shape

    WORK_DATE                 DEB_TIME  DEB_TIME_HOUR  \
0  2018-01-01  2018-01-01 21:00:00.000             21
1  2018-01-01  2018-01-01 19:30:00.000             19
2  2018-01-01  2018-01-01 22:30:00.000             22
3  2018-01-01  2018-01-01 12:45:00.000             12
4  2018-01-01  2018-01-01 17:00:00.000             17
5  2018-01-01  2018-01-01 18:15:00.000             18
6  2018-01-01  2018-01-01 13:30:00.000             13
7  2018-01-01  2018-01-01 15:00:00.000             15
8  2018-01-01  2018-01-01 18:00:00.000             18
9  2018-01-01  2018-01-01 17:15:00.000             17

                  FIN_TIME ENTITY_DESCRIPTION_SHORT  WAIT_TIME_MAX  NB_UNITS  \
0  2018-01-01 21:15:00.000           Roller Coaster              0       2.0
1  2018-01-01 19:45:00.000              Bumper Cars              5      18.0
2  2018-01-01 22:45:00.000              Rapids Ride              0       1.0
3  2018-01-01 13:00:00.000              Crazy Dance              5       1.0
4  2018-01-01 17:15:00.000                   Skyway              5      15.0
5  2018-01-01 18:30:00.000                Free Fall             50       3.0
6  2018-01-01 13:45:00.000                 Monorail             70      11.0
7  2018-01-01 15:15:00.000           Roller Coaster             20       2.0
8  2018-01-01 18:15:00.000               Swing Ride             50      12.0
9  2018-01-01 17:30:00.000                Crazy Bus              5       6.0

   GUEST_CARRIED  CAPACITY  ADJUST_CAPACITY  OPEN_TIME  UP_TIME  DOWNTIME  \
0            0.0     0.000             0.00          0        0         0
1          148.0   254.749           254.75         15       15         0
2            0.0     0.000             0.00          0        0         0
3           46.0   250.001           250.00         15       15         0
4           92.0   211.500           198.25         15       15         0
5            0.0     0.000             0.00          0        0         0
6          145.0   223.751           223.75         15       15         0
7           51.0    75.000            75.00         15       15         0
8           74.0   242.250           242.25         15       15         0
9          271.0   353.000           353.00         15       15         0

   NB_MAX_UNIT
0          2.0
1         18.0
2          2.0
3          1.0
4         16.0
5          3.0
6         11.0
7          2.0
8         12.0
9          6.0

(3509324, 14)